#intro {
	height: 90vh;
	background-color: aquamarine;
}

.carousel-container {
  margin: 10rem auto;
  width: 70%;
  height: 40vh;
  text-align: center;

  .animate-p {
    padding: 3rem 0;
  }

  .btn-get-started {
    border: 0.2rem solid blue;
    border-radius: 12px;
    padding: 1rem 1.5rem;
  }
}

#services {
  height: 90vh;
	padding-top: 5rem;
  padding-bottom: 4rem;
  
  img {
    height: 10rem;
    width: auto;
  }
}

#features {
  padding-bottom: 4rem;
  
  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }

  .row {
    margin-bottom: 2rem;
  }

  .img-features {
    margin: 0 auto;
    height: 15rem;
    width: auto;
  }

  ul {
    list-style:none;
  }
}

#products {
  padding-bottom: 4rem;
  
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .item-thumb img {
    height: 12rem;
    width: auto;
  }
}

#contact {
  padding-bottom: 4rem;
  
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
}

footer {
  
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .fa {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: none;
    border: 0.2rem #000 solid;
    border-radius: 50%;
    color: blue;
  }

  .copyright {
    padding: 2rem;
  }
}